# Exclude Git metadata and local files from build context
.git
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
env/
.env
node_modules
Dockerfile
docker-compose.yml
*.log
*.sqlite3
.DS_Store
/.vscode
/.idea
/.pytest_cache
